// blog area start
.blog-wrapper{
    position: relative;
    z-index: 1;
    overflow: hidden;
    .image-area{
        a{
           position: relative;
           z-index: 1;
           display: block;
           &::after{
            content: '';
            position: absolute;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.78%, #000000 100%);
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
           } 
        }
    }
    .author-area{
        position: absolute;
        top: 34px;
        left: 34px;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 8px;
        width: max-content;
        .text{
            color: var(--color-white);
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            span{
                font-size: 16px;
            }
        }
    }
    .content-area{
        position: absolute;
        z-index: 1;
        bottom: 34px;
        left: 34px;
        max-width: 340px;
    }
    .blog-meta{
        margin-bottom: 12px;
        ul{
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            li{
                padding: 0;
                margin: 0;
                color: var(--color-white);
                font-weight: 500;
                &.mid{
                    width: 5px;
                    height: 5px;
                    line-height: 5px;
                    border-radius: 50%;
                    background: var(--color-white);
                }
            }
        }
    }
    .blog-title{
        text-transform: capitalize;
        letter-spacing: -0.64px;
        font-weight: 500;
        a{
            color: var(--color-white);
        }
    }
    .tags{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            margin: 0;
            a{
                display: block;
                color: var(--color-white);
                font-size: 14px;
                line-height: 1;
                padding: 8px 12px;
                background: rgba(#EFEFEF, $alpha: .1);
                border-radius: 4px;
            }
        }
    }
}
.blog-wrapper2{
    position: relative;
    z-index: 1;
    overflow: hidden;
    .image-area{
        a{
           position: relative;
           z-index: 1;
           display: block;
            &::after{
                content: '';
                position: absolute;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.58%, #000000 100%);
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
            } 
        }
    }
    .content-area{
        position: absolute;
        z-index: 1;
        bottom: 34px;
        left: 34px;
        max-width: 508px;
        .blog-meta{
            margin-bottom: 15px;
            p{
                margin-bottom: 0;
                color: var(--color-white);
                font-weight: 500;
            }
        }
        .blog-title{
            font-size: 36px;
            text-transform: uppercase;
            a{
                color: var(--color-white);
            }
        }
        .author-area{
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 14px;
            li{
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--color-white);
                font-weight: 500;
                padding: 0;
                margin: 0;
                p{
                    color: var(--color-primary);
                }
                &.mid{
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    display: block;
                    background: var(--color-primary);
                }
            }
        }
    }
    &.list-style{
        display: flex;
        gap: 30px;
        align-items: center;
        .image-area{
            flex-basis: 25%;
            a{
                &::after{
                    display: none;
                }
            }
        }
        .content-area{
            position: unset;
            flex-basis: 75%;
            .blog-meta{
                margin-bottom: 10px;
                p{
                    color: var(--color-body-1);
                    line-height: 1;
                }
            }
            .blog-title{
                font-size: 22px;
                margin-bottom: 18px;
                a{
                    color: var(--color-primary);
                }
            }
            .author-area{
                li{
                    color: var(--color-body-1);
                }
            }
        }
    }
}
.blog-wrapper3{
    &:hover{
        .text-btn{
            color: var(--color-primary);
        }
    }
    .content-area{
        padding-top: 30px;
        padding-right: 35px;
        .meta{
            margin-bottom: 15px;
        }
    }
}

.rts-blog-area.wild{
    .section-top-area{
        display: flex;
        justify-content: space-between;
        .button-area{
            max-width: 471px;
            .desc{
                margin-bottom: 20px;
            }
            .text-btn{
                font-weight: 600;
                padding-bottom: 10px;
                border-bottom: 1px solid var(--color-primary);
            }
        }
    }
    .small-post-area{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}