
.rts-destination-area{
    background-size: unset !important;
}
.destination-wrapper{
    position: relative;
    z-index: 1;
    transition: var(--transition);
    overflow: hidden;
    .image-area{
        a{
            display: block;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                position: absolute;
                z-index: 1;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.75%, #000000 100%);
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    .content{
        position: absolute;
        z-index: 1;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 228px;
        width: 100%;
        .title{
            color: var(--color-white);
            margin-bottom: 10px;
        }
        .tag{
            color: var(--color-white);
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 6px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(1px);
            padding: 7px 12px;
        }
    }
}

.destination-wrapper-2{
    text-align: center;
    .image-area{
        overflow: hidden;
        border-radius: 150px;
    }
    .content{
        margin-top: 20px;
        .title{
            margin-bottom: 7px;
            font-size: 16px;
            line-height: 1;
        }
    }
}

.destination-area-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination-wrapper-3{
    text-align: center;
    .image-area{
        overflow: hidden;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .content{
        margin-top: 28px;
        .title{
            margin-bottom: 7px;
            font-size: 16px;
            line-height: 1;
        }
    }
}
.outer-box{
    display: flex;
}
.project-block-four {
    min-height: 572px;
    margin-right: 0;
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    will-change: flex;
    position: relative;
    transition: var(--transition);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &.active {
        -webkit-box-flex: 2.8;
        -ms-flex: 2.8;
        flex: 2.8;
        .content-area{
            left: 60px;
            opacity: 1;
        }
        &::after{
            opacity: 1;
        }
    }
    .image-area{
        height: 100%;
        transition: var(--transition);
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .content-area{
        position: absolute;
        z-index: 2;
        left: -100%;
        bottom: 60px;
        transition: var(--transition);
        opacity: 0;
        p{
            color: var(--color-white);
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 15px;
        }
        .title{
            margin-bottom: 0;
            text-transform: uppercase;
            a{
                color: var(--color-white);
            }
        }
    }
    &::after{
        content: '';
        z-index: 1;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.94%, rgba(0, 0, 0, 0.9) 100%);
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: var(--transition);
    }
}

.destination-area-4{
    position: relative;
    z-index: 1;
    .content-area{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        
    }
}

.destination-wrapper-4{
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--transition);
    &:hover{
        .content-area{
            bottom: 40px;
            .rts-btn{
                opacity: 1;
            }
        }
    }
    .content-area{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
        min-width: max-content;
        transition: var(--transition);
        p{
            color: var(--color-white);
            font-family: "Roboto", sans-serif;
            margin-bottom: 10px;
            font-weight: 500;
        }
        .title{
            font-weight: 500;
            margin-bottom: 15px;
            a{
                color: var(--color-white);
            }
        }
        .rts-btn{
            margin: auto;
            color: var(--color-white);
            font-family: "Roboto", sans-serif;
            opacity: 0;
            transition: var(--transition);
        }
    }
    .image-area{
        a{
            display: block;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                position: absolute;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.22%, rgba(0, 0, 0, 0.8) 100%);
                width: 100%;
                height: 100%;
                inset: 0;
                z-index: 1;
        
            }
        }
    }
}
.rts-destination-area.summer-travel{
    .left-content-area{
        .section-title-area{
            margin-bottom: 20px;
        }
        .slider-btn-area{
            display: flex;
            align-items: center;
            gap: 7px;
            .swiper-btn{
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                text-align: center;
                display: block;
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
                &.swiper-btn-next,
                &.swiper-btn-next2{
                    background: var(--color-primary);
                    color: var(--color-white);
                }
            }
        }
    }
}

