
.rts-gallery-area{
    .swiper{
        .swiper-wrapper{
            align-items: center;
            .swiper-slide{
                width: auto !important;
            }
        }
    }
    .section-title-area{
        .desc{
            margin-top: 10px;
        }
    }
    .section-top-area{
        .right-btn-area{
            position: relative;
            display: flex;
            align-items: center;
            width: max-content;
            gap: 10px;
            margin-bottom: 10px;
            .swiper-btn{
                position: unset;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid var(--color-primary);
                text-align: center;
                display: block;
                color: var(--color-primary);
                transition: var(--transition);
                &:hover{
                    background: var(--color-primary);
                    color: var(--color-white);
                }
                &.swiper-btn-next4{
                    background: var(--color-primary);
                    color: var(--color-white);

                }
            }
        }
    }
}
.gallery-wrapper{
    position: relative;
    z-index: 1;
    &.with-icon{
        a{
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: block;
            border-radius: 10px;
            &:hover{
                &::after{
                    opacity: 1;
                }
                .icon{
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background: rgba(0, 58, 89, 0.5);
                opacity: 0;
                transition: var(--transition);

            }
            .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.5);
                z-index: 2;
                opacity: 0;
                transition: var(--transition);

            }
        }
    }
    .gallery-image{
        cursor: zoom-in;
    }
}

