
// pricing area start
.offer-wrapper{
    height: 500px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 50px;
    .sub-title{
        color: var(--color-white);
        line-height: 1;
        margin-bottom: 13px;
    }
    .title{
        color: var(--color-white);
        span{
            background: var(--color-primary);
            color: var(--color-white) !important;
            padding: 0 5px;
        }
    }
    .rts-btn{
        background: var(--color-white);
        color: var(--color-heading-1);
        &::before{
            background: var(--color-primary);
        }
        &:hover{
            color: var(--color-white);
        }
    }
    .person{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    &.mid{
        background: linear-gradient(180deg, #FFAC69 -14.6%, #FFD7B7 100%);
    }
    &.mid-2{
        background: linear-gradient(180deg, #37FF8C -14.6%, #2DAE64 100%);
    }
    &.tour-marketplace{
        .title{
            font-size: 46px;
            line-height: .88;
            span{
                color: var(--color-white);
                background: var(--color-heading-1);
                display: inline-block;
                line-height: .75;
                padding: 8px 5px 3px;
                border-radius: 10px;
            }
        }
    }
    &.new{
        position: relative;
        z-index: 1;
        background: none;
        height: auto;
        padding: 0;
        .content{
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 60px 50px;
            text-align: center;
            .title{
                font-size: 36px;
                span{
                    display: inline-block;
                    line-height: 1;
                    padding: 0 8px 5px;
                    font-style: italic;
                    border-radius: 6px;
                    color: #0D0D0D !important;
                    font-weight: 400;
                }
            }
            .desc{
                color: var(--color-white);
                margin-bottom: 35px;
            }
            .rts-btn{
                margin: auto;
                background: #0D0D0D;
                color: var(--color-white);
            }
        }
    }
}

.offer-wrapper-2{
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 65px 65px 65px 30px;
    &::after{
        content: '';
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(270deg, rgba(0, 58, 89, 0) 0%, #003A59 84.02%);
    }
    .sub-title{
        color: var(--color-white);
        line-height: 1;
        margin-bottom: 13px;
    }
    .title{
        color: var(--color-white);
        font-size: 28px;
        span{
            background: var(--color-primary);
            color: var(--color-white) !important;
            padding: 0 5px;
        }
    }
    .rts-btn{
        background: transparent;
        color: var(--color-white);
        &::before{
            background: var(--color-white);
        }
        &:hover{
            color: var(--color-heading-1);
        }
    }
}

.count-down-area{
    padding: 45px 50px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    .sub-title{
        color: var(--color-primary);
        margin-bottom: 10px;
        font-family: var(--font-four);
    }
    .title{
        letter-spacing: -0.02em;
        margin-bottom: 40px;
        span{
            display: inline-block;
            line-height: 1;
            padding: 0 8px 5px;
            font-style: italic;
            border-radius: 6px;
            color: var(--color-white);
            font-weight: 400;
            background: var(--color-primary);
        }
    }
    .countDown{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 40px;
        .container{
            padding: 0 !important;
            margin: 0;
            max-width: max-content !important;
            .a{
                position: relative;
                z-index: 1;
                width: 60px;
                height: 60px;
                display: block;
                text-align: center;
                background: transparent;
                border-radius: 6px;
                padding: 0;
                border: 1px solid var(--color-primary);
                &::after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -5px;
                    transform: translateX(-50%);
                    color: var(--color-heading-1);
                    font-size: 14px;
                    line-height: 1;
                    font-family: var(--font-four);
                    font-weight: 500;
                    background: var(--color-bg-1);
                    padding: 0 8px;
                }
                div{
                    color: var(--color-primary);
                    font-family: "Playfair Display", serif;
                    font-size: 32px;
                    line-height: 54px;
                    font-weight: 500;
                    height: 100%;
                }
            }
            &:nth-child(1){
                .a{
                    &::after{
                        content: 'Days';
                    }
                }
            }
            &:nth-child(2){
                .a{
                    &::after{
                        content: 'Hrs';
                    }
                }
            }
            &:nth-child(3){
                .a{
                    &::after{
                        content: 'Min';
                    }
                }
            }
            &:nth-child(4){
                .a{
                    &::after{
                        content: 'Sec';
                    }
                }
            }
        }
    }
    .rts-btn{
        margin: auto;
        margin-bottom: 20px;
        background: var(--color-heading-1);
    }
    .desc{
        font-family: var(--font-four);
        font-size: 14px;
    }
}