
@media(max-width:1800px){
    .rts-service-area .section-inner .service-wrapper{
        padding: 60px 30px 35px;
    }
}
@media(max-width:1670px){
    .sign-in-area .sign-in-form{
        width: 47%;
    }
}
@media(max-width:1600px){
    .rts-banner-area-three .content-inner .section-title{
        font-size: 84px;
    }
    .rts-banner-area-five .rts-banner-wrapper .banner-hero {
        left: -10.5%;
        width: 40%;
    }
    .rts-banner-area-five .rts-banner-wrapper .location{
        right: -4%;
    }
    .rts-banner-area-seven .banner-wrapper .content-area{
        left: -60%;
    }
    .rts-tour-area.inner.with-map{
        padding-left: 70px;
    }
    .rts-service-area.inner{
        margin: 0;
    }
}
@media(max-width:1400px){
    .header-style-one{
        padding: 0 40px;
    }
    .advance__search__section{
        max-width: 1160px;
    }
    .cta-section-inner .content{
        flex-basis: 52%;
    }
    .rts-banner-area-three .content-inner .section-title{
        font-size: 72px;
        line-height: .95;
    }
    .offer-wrapper-2 .title{
        font-size: 24px;
    }
    .why-choose-right-side-content.yacht .stats-area ul li .content{
        padding: 30px 20px;
    }
    .rts-footer-area-one.yacht .left{
        width: 27%;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 200px;
    }
    .project-block-four.active .content-area{
        left: 40px;
    }
    .project-block-four .content-area{
        bottom: 40px;
    }
    .project-block-four .content-area .title{
        font-size: 30px;
    }
    .why-choose-wrapper-list2{
        gap: 20px;
    }
    .why-choose-wrapper-list2 li{
        width: 48%;
    }
    .rts-banner-area-five .rts-banner-wrapper .banner-hero {
        left: -7.5%;
        width: 37%;
    }
    .rts-banner-area-five .rts-banner-wrapper .location {
        right: -3%;
        width: 26%;
    }
    .offer-wrapper.tour-marketplace .title{
        font-size: 42px;
    }
    .rts-banner-area-seven .banner-wrapper .content-area{
        left: -75%;
    }
    .rts-banner-area-seven .swiper-slide-active .banner-wrapper .content-area{
        left: 50px;
    }
    .rts-banner-area-seven .banner-wrapper .content-area{
        bottom: 50px;
    }
    .offer-wrapper.new .content{
        padding: 60px 30px;
    }
    .package-wrapper5 .content .title{
        font-size: 20px;
    }
    .rts-footer-area-one.summer-travel .mid{
        gap: 50px;
    }
    .rts-tour-area.inner .tour-wrapper .content .meta-content li{
        font-size: 14px;
    }
    .tour-wrapper-list .content{
        padding: 20px;
    }
    .rts-tour-area.inner.with-map{
        padding-left: 20px;
    }
    .rts-tour-area.inner.with-map .section-inner{
        gap: 30px;
    }
    .sign-in-area .sign-in-form{
        width: 70%;
    }
    .rts-tour-details-area .bottom-content-area .feature-list-area li{
        width: 27%;
    }
}
@media(max-width:1400px) and (min-width:1200px){
    .rts-banner-area-one .rts-hero-banner{
        height: 800px;
    }
    .offer-wrapper{
        padding: 45px 30px;
    }
    .why-choose-right-side-content .section-title-area .section-title{
        font-size: 42px;
    }
    .counter-wrapper{
        padding: 21px 15px 20px 25px;
        gap: 10px;
        .icon{
            width: 40px;
        }
    }
    .tour-wrapper .content .title{
        font-size: 19px;
    }
    .why-choose-wrapper .content .icon{
        margin-bottom: 70px;
    }
    .why-choose-wrapper .content{
        top: 20px;
        left: 20px;
    }
    .tour-wrapper-two .content{
        padding: 20px 15px;
    }
    .tour-wrapper-two .content .title{
        font-size: 18px;
    }
    .tour-wrapper-two .content .button-area .price-area .current{
        font-size: 16px;
    }
    .about-image-area{
        padding-bottom: 120px;
    }
    .why-choose-wrapper-list2 li .content .title{
        font-size: 18px;
    }
    .blog-wrapper2 .content-area .blog-title{
        font-size: 32px;
    }
    .blog-wrapper2.list-style .content-area .blog-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .rts-blog-area.wild .small-post-area{
        gap: 28px;
    }
    .package-wrapper3 .content .bottom-meta{
        gap: 10px;
    }
    .package-wrapper3 .content .title{
        font-size: 20px;
    }
    .rts-cta-area.travel-africa .content .title{
        font-size: 88px;
    }
    .package-wrapper4 .content .meta-content{
        gap: 20px;
        li{
            font-size: 14px;
        }
    }
    .package-wrapper4 .content .bottom-meta{
        gap: 5px;
    }
    .package-wrapper4 .content .price span{
        font-size: 16px;
    }
    .package-wrapper4 .content .price{
        gap: 5px;
    }
    .package-wrapper4 .content .title{
        font-size: 20px;
    }
    .package-wrapper4 .content .desc{
        font-size: 14px;
    }
    .testimonials-wrapper-five{
        padding: 55px 70px 40px 50px;
    }
    .testimonials-wrapper-five .quote-area{
        margin-bottom: 30px;
    }
    .testimonials-wrapper-five .text{
        margin-bottom: 30px;
        font-size: 26px;
    }
    .rts-tour-area.inner.with-map .tour-wrapper .content .title{
        font-size: 18px;
    }
}
@media(max-width:1365px){
    .sign-in-area{
        height: auto;
    }
    .side-bar.show{
        overflow-y: auto;
    }
}
@media(max-width:1200px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .order-lg-change{
        order: -1;
    }
    .advance__search__section{
        max-width: 960px;
    }
    .rts-testimonials-area .section-inner .swiper-navigation .swiper-btn.swiper-btn-prev5{
        left: -6%;
    }
    .rts-testimonials-area .section-inner .swiper-navigation .swiper-btn.swiper-btn-next5{
        right: -6%;
    }
    .rts-banner-area-two .rts-banner-content-area .content-inner .section-title{
        font-size: 86px;
        line-height: 1;
    }
    .cta-section-inner.hiking{
        background-position: revert !important;
    }
    .cta-section-inner.hiking .cta-content-area .section-title{
        font-size: 48px;
    }
    .rts-footer-area-one .left{
        width: 35%;
    }
    .cta-section-inner .content{
        flex-basis: 60%;
    }
    .cta-section-inner .button-area{
        flex-basis: 35%;
    }
    .header-style-two .main-nav-area{
        margin-left: 50px;
    }
    .rts-banner-area-three .content-inner .section-title{
        font-size: 64px;
    }
    .rts-footer-area-one.yacht .single-footer-widget-one{
        width: 17%;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 165px;
    }
    .rts-banner-area-four .banner-hero{
        left: 65%;
        transform: translateX(-65%);
    }
    .rts-banner-area-four .jump-to-down{
        left: 60%;
        transform: translateX(-60%);
    }
    .advance__search__section.home-wild .form-area .custom-select-trigger{
        padding-left: 20px;
    }
    .about-content-area .feature-list{
        flex-wrap: wrap;
    }
    .blog-wrapper2.list-style .image-area img{
        width: 100%;
    }
    .blog-wrapper2.list-style .content-area .blog-meta{
        margin-bottom: 15px;
    }
    .rts-banner-area-five .rts-banner-wrapper .banner-hero{
        left: 0;
        width: 33%;
    }
    .rts-banner-area-five .rts-banner-wrapper .location{
        top: 10%;
    }
    .main-isotop .button-group{
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }
    .main-isotop .button-group button{
        width: 18%;
        padding-bottom: 15px;
    }
    .rts-footer-area-one.tour-marketplace .mid{
        width: 55%;
        gap: 30px;
    }
    .rts-footer-area-one.summer-travel .left{
        width: 32%;
    }
    .rts-footer-area-one.summer-travel .mid{
        gap: 20px;
        width: 65%;
    }
    .tour-wrapper-list{
        flex-direction: column;
        align-items: self-start;
    }
    .tour-wrapper-list .image-area{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .tour-wrapper-list .content{
        flex-basis: 100%;
        gap: 20px;
        width: 100%;
    }
    .rts-breadcrumb-area.three .breadcrumb-area-wrapper{
        padding: 0 50px;
    }
    .sign-in-area .sign-in-form{
        width: 100%;
        padding: 60px 30px;
    }
    .rts-features-area.destination .feature-list{
        gap: 60px;
    }
    .rts-service-area .section-inner{
        flex-wrap: wrap;
        .service-wrapper{
            width: 50%;
            padding: 20px;
        } 
    }
}
@media(max-width:1200px) and (min-width:991px){
    .rts-banner-area-one .rts-hero-banner{
        height: 800px;
    }
    .offer-wrapper .title{
        font-size: 24px;
    }
    .offer-wrapper{
        padding: 40px 30px;
    }
    .offer-wrapper{
        height: 430px;
    }
    .why-choose-right-side-content .section-title-area .section-title{
        font-size: 36px;
    }
    .why-choose-left-image-area .floating-image{
        right: -25px;
        bottom: -25px;
    }
    .rts-counter-area .section-inner{
        flex-wrap: wrap;
        gap: 15px;
        .counter-wrapper{
            max-width: 32%;
        }
    }
    .why-choose-wrapper .content{
        left: 20px;
        top: 20px;
    }
    .why-choose-wrapper .content .icon{
        margin-bottom: 35px;
    }
    .why-choose-wrapper .content .title{
        font-size: 20px;
    }
    .why-choose-wrapper.big .content{
        left: 30px;
        top: 30px;
    }
    .why-choose-wrapper.big .content .section-title-area .section-title{
        font-size: 28px;
    }
    .blog-wrapper .content-area{
        bottom: 25px;
        left: 20px;
    }
    .blog-wrapper .blog-title{
        font-size: 18px;
    }
    .offer-wrapper-2{
        padding: 65px 40px 65px 20px;
    }
    .activity-wrapper .content .title{
        font-size: 22px;
    }
    .why-choose-left-image-area .floating-image{
        max-width: 200px;
    }
    .newsletter-inner .content-area .content-inner .title{
        margin-bottom: 15px;
    }
    .newsletter-inner .content-area .content-inner .desc{
        margin-bottom: 25px;
    }
    .testimonials-wrapper-three{
        padding: 30px 20px 35px;
    }
    .about-content-area .section-title-area .section-title{
        font-size: 36px;
    }
    .about-image-area{
        padding-bottom: 120px;
    }
    .project-block-four .content-area .title{
        font-size: 24px;
    }
    .why-choose-wrapper-list2 li{
        width: 47%;
    }
    .why-choose-wrapper-list2 li .content .title{
        font-size: 18px;
    }
    .why-choose-right-side-content .section-title-area .section-title{
        font-size: 42px;
    }
    .offer-wrapper.tour-marketplace .title{
        font-size: 34px;
    }
    .package-wrapper4 .content .title{
        font-size: 22px;
    }
    .package-wrapper4 .content .meta-content li{
        font-size: 14px;
    }
    .blog-wrapper3 .content-area .blog-title{
        font-size: 26px;
    }
    .rts-tour-deal-area .left-area{
        display: flex;
        gap: 30px;
        .count-down-area {
            margin-top: 0;
        }
    }
    .testimonials-wrapper-five{
        padding: 40px 50px 30px 40px;
    }
    .testimonials-wrapper-five .quote-area{
        margin-bottom: 30px;
    }
    .testimonials-wrapper-five .text{
        margin-bottom: 30px;
        font-size: 22px;
    }
    .rts-tour-details-area .bottom-content-area .feature-list-area li{
        width: 46%;
    }
    .tour-details-tab-content .tab-content-inner .itinerary-title{
        font-size: 17px;
    }
    .tour-details-tab-area .nav-tabs{
        gap: 50px;
    }
    .rts-tour-area.inner .left-sidebar-area .side-box.blog-post .blog-list li .content h6, .rts-blog-area.inner .left-sidebar-area .side-box.blog-post .blog-list li .content h6{
        font-size: 14px;
    }
    .rts-tour-area.inner .left-sidebar-area .side-box.blog-post .blog-list li, .rts-blog-area.inner .left-sidebar-area .side-box.blog-post .blog-list li{
        gap: 10px;
    }
}
@media(max-width:991px){
   .advance__search__section {
    max-width: 95%;
   } 
   .advance__search__section .form-area{
        flex-wrap: wrap;
    }
   .advance__search__section .form-area .custom-select{
    width: 48%;
   }
   .advance__search__section .section-title-area .section-title{
    font-size: 72px;
    line-height: 1;
   }
   .rts-banner-area-one .rts-hero-banner{
    height: 870px;
   }
   .advance__search__section{
    bottom: 20%;
   }
   .offer-wrapper{
        height: 460px;
    }
    .why-choose-left-image-area{
        margin-right: 0;
        margin-bottom: 50px;
    }
    .rts-counter-area .section-inner{
        flex-wrap: wrap;
        .counter-wrapper{
            max-width: 48%;
        }
    }
    .testimonials-wrapper,
    .testimonials-wrapper-four {
        flex-direction: column;
        align-items: start;
    }
    .rts-testimonials-area .section-inner .swiper-navigation .swiper-btn.swiper-btn-prev5{
        left: -8%;
    }
    .rts-testimonials-area .section-inner .swiper-navigation .swiper-btn.swiper-btn-next5{
        right: -8%;
    }
    .header-style-two .header-top .header-top-inner .right .social-area{
        display: none;
    }
    .header-style-two .main-nav-area{
        display: none;
    }
    .header-style-one,
    .header-four{
        padding: 12px 40px !important;
    }
    .header-style-two .header-main-inner{
        padding: 12px 0;
    }
    .header-style-two .header-top .right-information{
        padding-left: 0;
        border: none;
    }
    .rts-banner-area-two{
        height: auto;
    }
    .rts-banner-area-two .rts-banner-content-area{
        padding: 120px 0 180px;
    }
    .why-choose-wrapper .content .title{
        font-size: 25px;
    }
    .why-choose-wrapper .content .icon{
        margin-bottom: 100px;
    }
    .cta-section-inner.hiking{
        padding-left: 30px;
    }
    .blog-wrapper .content-area{
        left: 20px;
        right: 20px;
        bottom: 25px;
        .blog-title{
            font-size: 24px;
        }
    }
    .rts-footer-area-one .footer-inner{
        flex-wrap: wrap;
    }
    .rts-footer-area-one .left{
        width: 40%;
    }
    .rts-footer-area-one .mid{
        gap: 50px;
    }
    .cta-section-inner{
        flex-direction: column;
        align-items: self-start;
        gap: 30px;
    }
    .rts-banner-area-three .rts-hero-banner{
        height: auto;
    }
    .destination-area-3{
        flex-wrap: wrap;
        gap: 20px;
    }
    .destination-wrapper-3{
        max-width: 30%;
        width: 100%;
        text-align: center;
        .image-area{
            margin: auto;
        }
    }
    .newsletter-inner{
        flex-direction: column;
        align-items: self-start;
    }
    .newsletter-inner .image{
        flex-basis: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        img{
            width: 100%;
        }
    }
    .newsletter-inner .content-area{
        flex-basis: 100%;
        width: 100%;
        padding: 40px 20px 50px;
    }
    .rts-footer-area-one.yacht .left{
        width: 42%;
    }
    .rts-footer-area-one.yacht .single-footer-widget-one{
        width: 24%;
        &.get-app{
            width: 30%;
        }
    }
    .rts-footer-area-one.yacht .footer-inner{
        justify-content: flex-start;
        gap: 30px;
    }
    .testimonials-wrapper-three{
        padding: 30px 14px 25px;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 124px;
    }
    .rts-banner-area-four{
        height: auto;
    }
    .rts-banner-area-four .rts-banner-wrapper{
        padding-top: 180px;
    }
    .rts-banner-area-four .banner-hero{
        display: none;
    }
    .rts-banner-area-four .rts-banner-wrapper .video-content-area{
        margin-top: 70px;
    }
    .about-content-area{
        margin-left: 0;
    }
    .about-image-area{
        margin-bottom: 50px;
    }
    .outer-box{
        flex-direction: column;
    }
    .project-block-four{
        margin-bottom: 5px;
        min-height: 160px;
        max-height: 160px;
    }
    .project-block-four .image-area img{
        width: 100%;
    }
    .project-block-four.active{
        min-height: 100%;
        max-height: 100%;
    }
    .project-block-four .image-area{
        height: 160px;
    }
    .project-block-four.active .image-area{
        height: 100%;
    }
    .why-choose-left-image-area2{
        margin-bottom: 40px;
    }
    .rts-blog-area.wild .section-top-area{
        flex-direction: column;
        align-items: self-start !important;
        gap: 30px;
    }
    .rts-banner-area-five .rts-banner-wrapper .location{
        display: none;
    }
    .rts-banner-area-five .rts-banner-wrapper .banner-hero{
        bottom: 36%;
    }
    .rts-banner-area-five{
        height: auto;
    }
    .rts-cta-area.travel-africa .content .title{
        font-size: 84px;
    }
    .rts-banner-area-six .rts-banner-wrapper .banner-wrapper-inner .banner-title{
        font-size: 84px;
    }
    .offer-wrapper.tour-marketplace{
        padding: 50px 30px;
    }
    .offer-wrapper.tour-marketplace .title{
        font-size: 38px;
    }
    .rts-newsletter-area.tour-marketplace .newsletter-inner .content-area{
        padding: 0;
    }
    .rts-footer-area-one.tour-marketplace .mid{
        width: 64%;
        gap: 25px;
    }
    .rts-footer-area-one.tour-marketplace .left, .rts-footer-area-one.tour-marketplace .right{
        width: 36%;
    }
    .header-style-one.header-seven{
        padding: 0 !important;
    }
    .header-style-one.header-seven .header-style-one-wrapper{
        padding: 20px 0;
    }
    .header-style-one.header-seven .header-mid .inner .logo{
        display: none;
    }
    .header-style-one.header-seven .header-style-one-wrapper .left-area{
        display: flex;
    }
    .rts-destination-area.summer-travel .left-content-area .desc{
        margin-bottom: 20px;
    }
    .rts-footer-area-one.summer-travel .right{
        margin-top: 30px;
        .single-footer-widget-one .title{
            margin-bottom: 30px;
        }
    }
    .rts-tour-area.inner.with-map{
        padding-right: 20px;
    }
    .rts-tour-area.inner.with-map .section-inner{
        flex-direction: column;
    }
    .rts-tour-area.inner.with-map .section-inner .right-map-area{
        height: 300px;
        width: 100%;
    }
    .rts-breadcrumb-area.three{
        height: auto;
    }
    .rts-breadcrumb-area.three .breadcrumb-area-wrapper{
        padding: 120px 50px 50px;
        .advance__search__section.home-hiking{
            margin-top: 30px;
        }
    }
    .sign-in-area{
        flex-direction: column;
    }
    .rts-tour-details-area .bottom-content-area{
        flex-direction: column;
    }
    .rts-tour-details-area .bottom-content-area .left{
        max-width: 100%;
    }
    .rts-tour-details-area .bottom-content-area .right{
        max-width: 100%;
        margin-top: 30px;
    }
    .faq-content{
        margin-left: 0;
    }
    .rts-features-area.destination .feature-list{
        flex-wrap: wrap;
    }
    .rts-story-area .rts-story-mid-content{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .rts-story-area .rts-story-mid-content .bottom-content{
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .menu-btn-toggle2{
        display: none;
    }
}
@media(max-width:991px) and (min-width:768px){
    .package-wrapper3 .content{
        padding: 30px 25px;
    }
    .package-wrapper3 .content .star-rating-area span,
    .package-wrapper3 .content .bottom-meta p,
    .package-wrapper3 .content .meta-content li{
        font-size: 14px;
    }
}
@media(max-width:768px){
    .header-style-one{
        padding: 12px 15px !important;
    }
    .header-four,
    .header-five{
        padding: 12px 0 !important;
    }
    .advance__search__section{
        bottom: 20%;
    }
    .advance__search__section .section-title-area .section-title{
        font-size: 56px;
    }
    .rts-banner-area-one .rts-hero-banner{
        height: 860px;
    }
    .rts-counter-area .section-inner{
        gap: 15px;
    }
    .rts-counter-area .section-inner .counter-wrapper{
        gap: 15px;
    }
    .rts-testimonials-area .section-inner .swiper-navigation .swiper-btn{
        display: none;
    }
    .header-style-two .header-top .right-information{
        display: none;
    }
    .header-style-two .header-top .header-top-inner{
        justify-content: center;
    }
    .why-choose-wrapper .content{
        left: 25px;
        right: 25px;
        bottom: 30px;
        top: unset;

    }
    .why-choose-wrapper .content .title{
        margin-bottom: 0;
    }
    .why-choose-wrapper.big .content{
        left: 30px;
        top: 50px;
        right: 30px;
        bottom: unset;
    }
    .tour-wrapper-two .content{
        padding: 20px 15px;
    }
    .tour-wrapper-two .content .title{
        font-size: 18px;
    }
    .gallery-wrapper.with-icon a img{
        width: 100%;
    }
    .single-footer-widget-one .title{
        margin-bottom: 25px;
    }
    .rts-footer-area-one .right{
        width: 50%;
        margin-top: 30px;
    }
    .footer-input-main-wrapper-one .single-footer-widget-one .desc{
        margin-top: 0;
    }
    .rts-blog-area .section-top-area .button-area{
        min-width: 125px;
    }
    .rts-banner-area-three{
        margin: 0;
    }
    .rts-banner-area-three .rts-hero-banner{
        padding: 120px 0;
    }
    .rts-banner-area-three .swiper-pagination-fraction{
        flex-direction: row;
        max-width: max-content;
        align-items: center;
    }
    .rts-banner-area-three .swiper-pagination-fraction span.divider{
        width: 2px;
        height: 12px;
    }
    .rts-banner-area-three .swiper-pagination-vertical{
        display: none;
    }
    .rts-banner-area-three .content-inner .section-title{
        font-size: 62px;
        line-height: 1;
    }
    .header-style-two.home-yacht-bg .header-main{
        padding: 0 15px;
    }
    .rts-footer-area-one.yacht .left{
        width: 54%;
    }
    .rts-footer-area-one.yacht .single-footer-widget-one{
        width: 35%;
    }
    .rts-footer-area-one.yacht .single-footer-widget-one.get-app{
        width: 55%;
    }
    .testimonials-wrapper-three{
        padding: 30px 20px;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 96px;
    }
    .rts-banner-area-four .social-area{
        right: 25px;
        bottom: 40px;
    }
    .advance__search__section.home-wild .section-title-area .section-title{
        font-size: 30px;
        line-height: 1;
    }
    .package-wrapper2 .content{
        left: 20px;
        transform: unset;
    }
    .rts-banner-area-five .rts-banner-wrapper .banner-hero{
        display: none;
    }
    .rts-banner-area-five .rts-banner-wrapper .title{
        font-size: 150px;
    }
    .rts-banner-area-five .rts-banner-wrapper .title span{
        margin: auto !important;
    }
    .rts-banner-area-five .rts-banner-wrapper .bottom-content-area{
        margin: auto;
    }
    .rts-banner-area-five .rts-banner-wrapper{
        padding-top: 180px;
    }
    .rts-cta-area.travel-africa .content .title{
        font-size: 72px;
    }
    .rts-cta-area.travel-africa{
        padding: 100px 0;
    }
    .rts-banner-area-six .rts-banner-wrapper .banner-wrapper-inner .banner-title{
        font-size: 64px;
    }
    .rts-banner-area-six{
        height: auto;
        padding: 100px 0 70px;
    }
    .advance__search__section.tour-marketplace{
        margin-top: 50px;
    }
    .header-style-one.header-six .button-area-start{
        flex-basis: 60%;
    }
    .package-wrapper4 .image-area img{
        width: 100%;
    }
    .package-wrapper4 .content .price span{
        font-size: 16px;
    }
    .main-isotop .button-group button{
        width: 23%;
    }
    .package-wrapper4 .content .meta-content{
        gap: 15px;
        li{
            font-size: 14px;
        }
    }
    .package-wrapper4 .content .star-rating-area span{
        font-size: 14px;
    }
    .tour-marketplace .section-title-area .section-title{
        font-size: 54px;
    }
    .package-wrapper4 .content .desc{
        font-size: 14px;
    }
    .blog-wrapper3 .content-area .blog-title{
        font-size: 22px;
    }
    .rts-footer-area-one.tour-marketplace .left, .rts-footer-area-one.tour-marketplace .right{
        width: 70%;
    }
    .rts-footer-area-one.tour-marketplace .mid{
        width: 100%;
        justify-content: start !important;
        gap: 40px;
        margin-top: 40px;
    }
    .rts-banner-area-seven .banner-wrapper .image-area{
        height: 500px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .rts-banner-area-seven .swiper-slide-active .banner-wrapper .content-area{
        left: 20px;
    }
    .rts-banner-area-seven .banner-wrapper .content-area .banner-title{
        font-size: 48px;
    }
    .float-right{
        width: 100%;
        position: unset;
    }
    .rts-footer-area-one.summer-travel .left{
        width: 50%;
    }
    .rts-footer-area-one.summer-travel .mid {
        margin-top: 30px;
        width: 100%;
        justify-content: flex-start !important;
        gap: 30px;
    }
    .tour-wrapper-list .content{
        flex-direction: column;
        align-items: self-start;
    }
    .tour-wrapper-list .content .button-area{
        margin-top: 0;
        align-items: flex-start;
    }
    .rts-breadcrumb-area.four .nav-bread-crumb{
        flex-wrap: wrap;
    }
    .rts-tour-details-area .bottom-content-area .feature-list-area li{
        width: 47%;
    }
    .tour-details-tab-area .nav-tabs{
        gap: 40px;
    }
    .rts-tour-details-area .bottom-content-area .tour-content .left-content .title{
        font-size: 34px;
    }
    .rts-breadcrumb-area.one{
        height: 340px;
        .breadcrumb-area-wrapper{
            padding-top: 0;
        } 
    }
    .rts-tour-area.inner .blog-details-area ul.feature-list li, .rts-blog-area.inner .blog-details-area ul.feature-list li{
        width: 50%;
    }
}
@media(max-width:768px) and (min-width:576px){
    .rts-counter-area .section-inner .counter-wrapper .icon{
        width: 40px;
    }
    .tour-wrapper-two .content .button-area .price-area .current{
        font-size: 16px;
    }
    .rts-footer-area-one .mid{
        gap: 10px;
    }
    .header-style-two .header-style-one-wrapper .button-area-start{
        flex-basis: 60%;
    }
    .why-choose-wrapper-list2 li .content .title{
        font-size: 18px;
    }
}
@media(max-width:576px){
    .advance__search__section .form-area{
        padding: 25px;
    }
    .advance__search__section .section-title-area .section-title{
        font-size: 44px;
    }
    .rts-banner-area-one .rts-hero-banner{
        height: 780px;
    }
    .offer-wrapper {
        padding: 40px 30px;
    }
    .why-choose-left-image-area{
        padding-bottom: 0;
    }
    .why-choose-left-image-area .main-image{
        max-width: 100%;
        img{
            width: 100%;
        }
    }
    .why-choose-left-image-area .floating-image{
        margin-top: 20px;
        position: unset;
        img{
            width: 100%;
        }
    }
    .rts-counter-area .section-inner .counter-wrapper{
        flex-direction: column;
        align-items: start;
    }
    .testimonials-wrapper .content-area .text{
        font-size: 26px;
    }
    .testimonials-wrapper-four .content-area .text{
        font-size: 24px;
    }
    .header-style-two .header-top{
        display: none;
    }
    .rts-banner-area-two .rts-banner-content-area .content-inner .section-title{
        font-size: 70px;
    }
    .why-choose-wrapper.big .content .section-title-area .section-title{
        font-size: 24px;
    }
    .tour-wrapper-two{
        flex-direction: column;
        align-items: self-start;
    }
    .tour-wrapper-two .image-area{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .cta-section-inner.hiking .cta-content-area .section-title{
        font-size: 36px;
    }
    .rts-footer-area-one .left {
        width: 100%;
    }
    .rts-footer-area-one .mid{
        width: 100%;
        justify-content: start !important;
    }
    .rts-footer-area-one .right{
        width: 100%;
    }
    .cta-section-inner{
        padding: 50px 30px;
    }
    .rts-banner-area-three .content-inner .section-title{
        font-size: 48px;
    }
    .destination-wrapper-3{
        max-width: 46%;
    }
    .destination-wrapper-3 .image-area{
        width: 100%;
        height: max-content;
        img{
            width: 100%;
        }
    }
    .why-choose-right-side-content.yacht .stats-area{
        position: relative;
        overflow: hidden;
        margin: auto;
        margin-bottom: 40px;
    }
    .why-choose-right-side-content.yacht .stats-area ul{
        gap: 25px;
    }
    .rts-footer-area-one.yacht .left{
        width: 100%;
    }
    .newsletter-inner .content-area .content-inner .title{
        font-size: 32px;
    }
    .header-four{
        padding: 12px 10px !important;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 72px;
    }
    .advance__search__section.home-wild .section-title-area .section-title{
        font-size: 24px;
        line-height: 1;
    }
    .about-image-area .customer-review-area{
        display: none;
    }
    .about-image-area .floating-image{
        right: 0;
    }
    .project-block-four.active .content-area{
        left: 30px;
    }
    .project-block-four .content-area{
        bottom: 30px;
    }
    .project-block-four .content-area .title{
        font-size: 24px;
    }
    .why-choose-wrapper-list2 li{
        width: 100%;
    }
    .why-choose-right-side-content .section-title-area .desc br{
        display: none;
    }
    .blog-wrapper2.list-style{
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-wrapper2.list-style .image-area{
        width: 100%;
    }
    .rts-banner-area-five .rts-banner-wrapper .title{
        font-size: 100px;
    }
    .rts-banner-area-five .rts-banner-wrapper .bottom-content-area .desc{
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .rts-banner-area-five .rts-banner-wrapper .title{
        margin-bottom: 25px;
    }
    .rts-banner-area-five .rts-banner-wrapper .bottom-content-area .button-area .rts-btn{
        padding: 19px 34px;
    }
    .rts-banner-area-five .rts-banner-wrapper .bottom-content-area .button-area{
        gap: 10px;
    }
    .activity-wrapper2 .image-area img{
        width: 100%;
    }
    .package-wrapper3 .content{
        padding: 30px 25px;
    }
    .package-wrapper3 .content .star-rating-area span,
    .package-wrapper3 .content .bottom-meta p,
    .package-wrapper3 .content .meta-content li{
        font-size: 14px;
    }
    .rts-cta-area.travel-africa .content .title{
        font-size: 56px;
        margin-bottom: 50px;
    }
    .rts-banner-area-six .rts-banner-wrapper .banner-wrapper-inner .banner-title{
        font-size: 48px;
    }
    .main-isotop .button-group button{
        width: 31%;
    }
    .tour-marketplace .section-top-area{
        flex-direction: column;
        gap: 25px;
        align-items: start !important;
    }
    .rts-newsletter-area.tour-marketplace .newsletter-inner .content-inner .title{
        font-size: 42px;
    }
    .rts-footer-area-one.tour-marketplace .mid{
        flex-wrap: wrap;
    }
    .testimonials-wrapper-five{
        padding: 50px 30px;
    }
    .rts-footer-area-one.summer-travel .left{
        width: 100%;
    }
    .rts-footer-area-one.summer-travel .mid{
        flex-direction: column;
    }
    .rts-breadcrumb-area.two .breadcrumb-area-wrapper .title{
        font-size: 42px;
    }
    .filter-small-top-full {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .sign-in-area{
        padding: 20px 15px;
    }
    .sign-in-area .sign-in-form form .single-input-area{
        flex-direction: column;
        align-items: self-start !important;
        gap: 20px;
    }
    .rts-breadcrumb-area.three .breadcrumb-area-wrapper{
        padding: 120px 30px 50px;
    }
    .rts-breadcrumb-area.three .breadcrumb-area-wrapper .title{
        font-size: 42px;
    }
    .rts-tour-details-area .bottom-content-area .tour-content{
        flex-direction: column;
        align-items: self-start;
    }
    .rts-tour-details-area .bottom-content-area .tour-content .right-content{
        order: -1;
    }
    .rts-breadcrumb-area.one .breadcrumb-area-wrapper .title{
        font-size: 42px;
    }
    .accordion .accordion-item .accordion-header button{
        padding-right: 40px;
        font-size: 20px;
    }
    .rts-features-area.destination .section-title-area .section-title{
        font-size: 100px;
    }
    .rts-service-area .section-inner{
        .service-wrapper{
            width: 100%;
        } 
    }
}
@media(max-width:576px) and (min-width:450px){

}
@media(max-width:450px){
    .advance__search__section .form-area .custom-select{
        width: 100%;
    }
    .advance__search__section{
        bottom: 10%;
    }
    .advance__search__section .section-title-area .section-title,
    .advance__search__section.summer-travel .section-title-area .section-title{
        font-size: 36px;
    }
    .rts-banner-area-one .swiper-pagination-area{
        bottom: 40px;
    }
    .advance__search__section .section-title-area{
        margin-bottom: 30px;
    }
    .rts-banner-area-one .rts-hero-banner{
        height: 860px;
    }
    .section-top-area.d-flex{
        flex-direction: column;
        gap: 20px;
        align-items: self-start !important;
    }
    .mb_xs--0{
        margin-bottom: 0 !important;
    }
    .why-choose-wrapper-list li{
        flex-direction: column;
        align-items: self-start;
        gap: 20px;
    }
    .rts-counter-area .section-inner .counter-wrapper{
        max-width: 100%;
    }
    .testimonials-wrapper{
        padding: 20px;
    }
    .testimonials-wrapper .content-area .text{
        font-size: 22px;
    }
    .rts-banner-area-two .rts-banner-content-area .content-inner .section-title{
        font-size: 54px;
    }
    .rts-banner-area-two .rts-banner-content-area{
        padding: 100px 0 160px;
    }
    .why-choose-wrapper.big .content{
        top: 30px;
        left: 20px;
        right: 20px;
    }
    .why-choose-wrapper.big .content .section-title-area .section-title{
        font-size: 20px;
    }
    .testimonials-wrapper-two .content-area .text{
        font-size: 20px;
    }
    .cta-section-inner.hiking{
        padding: 40px 20px;
    }
    .cta-section-inner.hiking .cta-content-area .section-title{
        font-size: 28px;
    }
    .blog-wrapper .content-area .blog-title{
        font-size: 20px;
    }
    .rts-footer-area-one .mid{
        gap: 20px;
        flex-direction: column;
    }
    .copyright-area-start p{
        text-align: center;
    }
    .cta-section-inner .button-area{
        flex-direction: column;
        align-items: self-start;
    }
    .rts-banner-area-three .content-inner .section-title{
        font-size: 36px;
    }
    .rts-banner-area-three .content-inner .button-area{
        flex-direction: column;
        align-items: self-start;
    }
    .rts-banner-area-three .rts-hero-banner{
        padding: 80px 0;
    }
    .rts-banner-area-three .swiper-pagination-fraction{
        bottom: 30px;
    }
    .newsletter-inner .content-area .content-inner .newsletter-form{
        flex-direction: column;
    }
    .newsletter-inner .content-area .content-inner .title{
        font-size: 24px;
    }
    .rts-footer-area-one.yacht .single-footer-widget-one{
        width: 100%;
    }
    .rts-banner-area-four .jump-to-down{
        display: none;
    }
    .rts-banner-area-four .rts-banner-wrapper .title{
        font-size: 56px;
    }
    .about-image-area .floating-image{
        display: none;
    }
    .about-image-area{
        justify-content: center;
        padding-bottom: 0;
    }
    .project-block-four{
        min-height: 120px;
        max-height: 120px;
    }
    .testimonials-wrapper-four .content-area .text{
        font-size: 20px;
    }
    .blog-wrapper2.list-style .content-area .blog-title{
        font-size: 18px;
    }
    .rts-banner-area-five .rts-banner-wrapper{
        padding-top: 160px;
        padding-bottom: 100px;
    }
    .rts-banner-area-five .rts-banner-wrapper .bottom-content-area .button-area{
        flex-direction: column;
        gap: 20px;
    }
    .rts-banner-area-five .rts-banner-wrapper .title{
        font-size: 84px;
    }
    .rts-cta-area.travel-africa .content .title{
        font-size: 42px;
    }
    .main-isotop .button-group button{
        width: 40%;
    }
    .rts-newsletter-area.tour-marketplace .newsletter-inner .content-inner .title{
        font-size: 36px;
    }
    .tour-marketplace .section-title-area .section-title{
        font-size: 36px;
    }
    .rts-footer-area-one.tour-marketplace .left, .rts-footer-area-one.tour-marketplace .right{
        width: 100%;
    }
    .offer-wrapper.new .content .title{
        font-size: 28px;
    }
    .testimonials-wrapper-five .text{
        font-size: 20px;
    }
    .testimonials-wrapper-five .quote-area{
        margin-bottom: 30px;
    }
    .testimonials-wrapper-five .text{
        margin-bottom: 30px;
    }
    .rts-breadcrumb-area.two .breadcrumb-area-wrapper .title{
        font-size: 32px;
    }
    .rts-breadcrumb-area.two{
        height: 300px;
    }
    .rts-breadcrumb-area.two .breadcrumb-area-wrapper{
        padding-top: 0;
    }
    .filter-small-top-full .right-filter{
        flex-wrap: wrap;
    }
    .tour-wrapper-list .content .meta-content{
        gap: 20px;
    }
    .advance__search__section.home-hiking{
        margin-top: -60px;
    }
    .rts-breadcrumb-area.three .breadcrumb-area-wrapper .title{
        font-size: 30px;
    }
    .rts-tour-details-area .bottom-content-area .feature-list-area li{
        width: 100%;
    }
    .rts-tour-details-area .bottom-content-area .tour-content .left-content .title{
        font-size: 24px;
    }
    .rts-tour-details-area .bottom-content-area .contact-area .contact-form{
        padding: 20px 15px;
    }
    .rts-tour-details-area .bottom-content-area .content-box{
        padding: 20px 15px;
    }
    .tour-details-tab-content .tab-content-inner .itinerary-title{
        font-size: 16px;
    }
    .rts-breadcrumb-area.one .breadcrumb-area-wrapper .title{
        font-size: 32px;
    }
    .rts-features-area.destination .section-title-area .section-title{
        font-size: 72px;
        margin-bottom: 20px;
    }
    .rts-features-area.destination .feature-list li{
        width: 100%;
    }
}
