.why-choose-left-image-area{
    position: relative;
    z-index: 1;
    padding-bottom: 77px;
    margin-right: 55px;
    .main-image{
        max-width: max-content;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .content{
            position: absolute;
            z-index: 1;
            width: max-content;
            z-index: 2;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            h2{
                color: var(--color-white);
                font-size: 40px;
                line-height: 1;
                margin: 5px 0 7px;
                text-transform: uppercase;
            }
            p{
                color: var(--color-white);
                font-weight: 500;
            }
        }
        &::after{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #BA6827 0%, rgba(0, 0, 0, 0) 48.24%);
            height: 100%;
            width: 100%;
        }
    }
    .floating-image{
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
    }
    &.yacht{
        .main-image{
            &::after{
                display: none;
            }
        }
    }
}
.why-choose-right-side-content{
    .section-title-area{
        .desc{
            margin-top: 10px;
        }
    }
    .button-area{
        .rts-btn{
            padding: 19px 24px 17px;
            border: 1px solid var(--color-primary);
        }
    }
    &.yacht{
        position: relative;
        z-index: 1;
        overflow: hidden;
        .why-choose-wrapper-list{
            max-width: 380px;
            li{
                padding: 0;
                margin: 0;
                padding-bottom: 10px;
                border-bottom: 1px solid #AFE3FF;
                .content{
                    .title{
                        text-transform: uppercase;
                    }
                }
                &:last-child{
                    border: none;
                }
            }
        }
        .stats-area{
            position: absolute;
            right: 0;
            bottom: 0;
            width: max-content;
            ul{
                display: flex;
                align-items: end;
                gap: 16px;
                margin: 0;
                li{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    writing-mode: sideways-lr;
                    margin: 0;
                    .content{
                        padding: 30px 30px 30px 30px;
                        background: #1B9FE6;
                        color: var(--color-white);
                        font-size: 24px;
                        line-height: 1;
                        display: flex;
                        align-items: center;
                        gap: 25px;
                    }
                    p{
                        color: var(--color-white);
                        font-size: 16px;
                        line-height: 1;
                    }
                    &:nth-child(2){
                        .content{
                            padding-top: 40px;
                            background: #0A70A7;
                        }
                    }
                    &:nth-child(3){
                        .content{
                            padding-top: 50px;
                            background: #003A59;
                            font-size: 32px;
                        }
                    }
                }

            }
        }
    }
}

.why-choose-wrapper-list{
    padding: 0;
    margin: 0;
    margin-top: 30px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45px;
    li{
        display: flex;
        align-items: center;
        gap: 30px;
        border: 1px solid var(--color-border);
        padding: 24px 26px;
        margin: 0;
        .content{
            .title{
                margin-bottom: 5px;
            }
            p{
                font-weight: 500;
            }
        }
    }
}

.why-choose-wrapper{
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    &::after{
        content: '';
        position: absolute;
        z-index: 1;
        background: linear-gradient(0deg, #003A59 0%, rgba(0, 58, 89, 0.1) 100%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content{
        position: absolute;
        z-index: 2;
        top: 34px;
        left: 34px;
        overflow: hidden;
        .icon{
            margin-bottom: 80px;
        }
        .title{
            color: var(--color-white);
        }
    }
    &.big{
        &::after{
            background: linear-gradient(180deg, #003A59 0%, rgba(0, 58, 89, 0) 100%);
        }
        .content{
            top: 70px;
            left: 70px;
            .section-title-area{
                .sub-title{
                    color: var(--color-white);
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                .section-title{
                    color: var(--color-white);
                    margin-bottom: 20px;
                    font-size: 32px;
                }
            }
            .desc{
                color: var(--color-white);
                font-weight: 500;
                max-width: 457px;
                margin-bottom: 30px;
            }
        }
    }
}

.why-choose-left-image-area2{
    display: flex;
    align-items: center;
    gap: 22px;
}
.why-choose-wrapper-list2{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: space-between;
    margin: 35px 0 0;
    li{
        margin: 0;
        width: 45%;
        .icon{
            margin-bottom: 20px;
        }
        .content{
            .title{
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }
}