// mobile menu style 
.side-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -100%;
    width: 465px;
    padding: 40px 30px;
    padding-top: 50px;
    height: 100%;
    display: block;
    background-color: white;
    backdrop-filter: blur(7px);
    z-index: 1900;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: visible;
    @media #{$large-mobile} {
        width: 300px;
    }
    .inner-main-wrapper-desk{
        .thumbnail{
            display: flex;
            justify-content: center;
            img{
                width: 85%;
                margin: auto;
            }
        }
        .inner-content{
            text-align: center;
            margin-top: 30px;
            p{
            max-width: 95%;
            text-align: center;
            margin: auto;
            }
            .title{
                font-weight: 600;
            }
            .footer{
                padding-top: 50px;
                margin-top: 80px;
                border-top: 1px solid #c2c2c2;
                .title{
                    font-weight: 500;
                }
                a.rts-btn{
                    margin: auto;
                }
            }
        }
    }
}
.side-bar.show {
    right: 0;
    overflow-y: hidden;
}
#anywhere-home {
    background: #0e1013;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
    pointer-events: none;
    z-index: 50;
}
#anywhere-home.bgshow {
    background: #0e1013;
    opacity: 70%;
    visibility: visible;
    pointer-events: visible;
    z-index: 999;
    top: 0;
}
#menu-btn{
    cursor: pointer;
    padding: 10px;
    display: none;
    @media #{$md-layout} {
        display: block;
    }
    @media #{$sm-layout} {
        display: block;
    }
}
// mobile menu active
#side-bar{
    .mobile-menu-main{
        display: none;
        @media #{$md-layout} {
            display: block;
        }
        @media #{$sm-layout} {
            display: block;
        }
    }
}
// mobile menu scss
.mobile-menu-main{
    nav{
        ul{
            padding: 0 20px;
            display: block;
            li{
                margin: 0;
                padding: 0;
                color: var(--color-heading-1);
                a.main{
                    padding: 12px 0 17px 0;
                    border-bottom: 1px solid #f3f3f3;
                    cursor: pointer;
                }
                &.has-droupdown{
                    position: relative;
                    ul{                        
                        a{
                            padding: 10px 0;
                        }
                        a.tag{
                            font-weight: 700;
                            margin-top: 15px;
                            font-size: 18px;
                            border-bottom: 2px solid var(--color-primary);
                            padding: 10px 0;
                        }
                        li{
                            margin: 7px 0 !important;
                            border-bottom: 1px solid #f3f3f3;
                            font-weight: 500;
                        }
                    }
                    &::after{
                        position: absolute;
                        content: '\f054';
                        font-family: 'Font Awesome 6 pro' !important;
                        font-size: 16px;
                        right: 0;
                        font-weight: 400;
                        top: 5px;
                        padding: 8px 13px;                        
                        color: rgba(38, 38, 44, .5);
                        pointer-events: none;
                        cursor: pointer;
                    }
                    &.mm-active{
                        &::after{
                            content: '\f077';
                        }
                    }
                    &.third-lvl{
                        &::after{
                            font-size: 10px;
                            padding: 3px 10px;
                        }
                        ul{
                            padding: 0 20px;
                            li{
                                margin: 10px 0 !important;
                                position: relative;
                                z-index: 1;
                                transition: all .3s;
                                &:hover{
                                        color: var(--color-primary);
                                }
                                a{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    transition: all .3s;
                                }
                            }
                        }
                    }
                }
                a{
                    display: block;
                }
            }
        }
    }
    .follow-us{
        margin-top: 30px;
        ul{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;
            li{
                padding: 0;
                margin: 0;
                a{
                    width: 40px;
                    height: 40px;
                    line-height: 45px;
                    text-align: center;
                    display: block;
                    border-radius: 10px;
                    background: var(--color-primary);
                    color: var(--color-white);
                }
            }
        }
    }
}
// header-two menu are-start
.side-bar{
    &.header-two,
    &.header-three{
        .inner-main-wrapper-desk{
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        .mobile-menu{
            @media screen and (min-width: 1024px) {
                display: none !important;
            }
        }
    }
}
.header-one .main-nav-desk nav ul li.has-droupdown .submenu.inner-page{
    .sub-dropdown{
        position: relative;
        &:hover{
            &::after{
                color: var(--color-primary);
            }
        }
        &::after{
            position: absolute;
            content: '\f105';
            font-family: "Font Awesome 6 Pro" !important;
            font-size: 16px;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
        .third-lvl{
            margin-left: -4px;
        }
    }
}
.header-three .main-nav-desk nav ul li.has-droupdown .submenu.inner-page{
    padding: 15px 0;
    .sub-dropdown{
        position: relative;
        &:hover{
            &::after{
                color: var(--color-primary);
            }
        }
        &::after{
            position: absolute;
            content: '\f105';
            font-family: "Font Awesome 6 Pro" !important;
            font-size: 16px;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
        .third-lvl{
            margin-left: -4px;
        }
    }
    li{
        margin: 0;
        width: 100%;
        a{
            display: block;
            width: 100%;
            padding: 0 15px;
        }
    }
}


.sub-dropdown{
    position: relative !important;
    display: block !important;
    .submenu.third-lvl{
        opacity: 0 !important;
        min-width: 185px !important;
        left: 100% !important;
        top: -13% !important;
        margin: 0;
        border-radius: 0 !important;
        &.base{
            display: block !important;
        }
    }
    &:hover{
        .sub-menu-link{
            color: var(--color-primary);
        }
        .submenu.third-lvl.base{
            opacity: 1!important;
            min-width: 185px !important;
            top: 0 !important;
            right: 3px;
            display: block !important;
            li{
                display: block;
                a{
                    display: block !important;
                }
            }
        }
    }
}

.header-three{
    .sub-dropdown:hover .submenu.third-lvl.base{
        margin-left: -14px !important;
    }
}
.header-two .header-main-wrapper{
    .sub-dropdown:hover .submenu.third-lvl.base{
        margin-left: 90px !important;
    }
}

.sub-dropdown{
    position: relative !important;
    display: block !important;
    transition: all .3s ease-in-out;
    &.active{
        .sub-menu-link{
            color: #FFFFFF !important;
            padding-left: 40px !important;
            &::after{
                width: 12px !important;
            }
        }
        &::after{
            color: #FFFFFF;
        }
    }
    .rts-submenu.third-lvl{
        opacity: 0 !important;
        min-width: 200px !important;
        left: 100% !important;
        top: -13% !important;
        margin: 0;
        transform: translateY(25px) !important;
        transition: all .3s ease-in-out;
        pointer-events: none;
        display: block;
        &:hover{
            li{
                a{
                    opacity: .5;
                }
            }
        }
        &.base{
            visibility: hidden;
            transition: all .3s ease-in-out;
        }
        li{
            display: block;
            margin: 0;
            position: relative;
            width: 100%;
            &:hover{
                a{
                    background: #F2F2F8;
                    opacity: 1;
                    &::after{
                        width: 12px;
                    }
                }
            }
            a{
                display: block !important;
                padding: 12px 0px 12px 15px;
                position: relative;
                font-size: 14px;
                color: #26262C !important;
                font-weight: 600;
                text-align: left;
                border-radius: 10px;
            }
        }
    }
    &:hover{
        &::after{
            color: #FFFFFF;
        }
        .sub-menu-link{
            color: var(--color-primary);
        }
        .rts-submenu.third-lvl.base{
            visibility: visible;
            opacity: 1!important;
            min-width: 200px !important;
            top: 0 !important;
            right: 3px;
            transform: translateY(5px) !important;
            pointer-events: all;
        }
    }
}

.eel-icon-menu-wrap{
	position: relative;
	width: 26px;
	height: 12px;
	cursor: pointer;
}
.eel-icon-menu-wrap * {
  	transition: var(--transition);
}
.eel-icon-menu{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	border-bottom: solid 2px var(--color-primary);
}
.eel-icon-menu-wrap:hover em {
  	width: 70%;
}
.eel-icon-menu-wrap em:nth-child(2) {
  	top: auto;
  	bottom: 0;
  	right: 0;
}

.side-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -100%;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    padding-top: 100px;
    height: 100%;
    display: block;
    background-color: var(--color-white);
    backdrop-filter: blur(30px);
    z-index: 1900;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: visible;

    @media #{$large-mobile} {
        width: 310px;
    }

    .inner-main-wrapper-desk {
        .thumbnail {
            display: flex;
            justify-content: center;

            img {
                width: 85%;
                margin: auto;
            }
        }

        .inner-content {
            text-align: center;
            margin-top: 30px;

            p {
                max-width: 95%;
                text-align: center;
                margin: auto;
            }

            .title {
                font-weight: 600;
            }

            .footer {
                padding-top: 50px;
                margin-top: 80px;
                border-top: 1px solid #c2c2c2;

                .title {
                    font-weight: 500;
                }

                a.rts-btn {
                    margin: auto;
                }
            }
        }
    }
    &.side-bar2{

    }
}

.rts-sidebar-menu-desktop {
    .logo-area{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--color-border);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: block;
    }
    .about-us{
        text-align: center;
        .logo{
            margin-bottom: 20px;
        }
    }
    .gallery-image-area{
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 30px;
        .gallery-wrapper{
            width: 30%;
        }
    }

    .get-in-touch {
        margin-top: 30px;
        h4 {
            color: var(--color-heading-1);
        }

        .wrapper {
            .single {
                color: var(--color-heading-1);
                font-weight: 500;
                i {
                    color: var(--color-primary);
                    margin-right: 10px;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                a {
                    transition: .3s;
                }
            }
        }
    }
    .follow-us{
        margin-top: 30px;
        ul{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;
            li{
                padding: 0;
                margin: 0;
                a{
                    width: 40px;
                    height: 40px;
                    line-height: 45px;
                    text-align: center;
                    display: block;
                    border-radius: 10px;
                    background: var(--color-primary);
                    color: var(--color-white);
                }
            }
        }
    }
    .social-wrapper-two {
        &.menu {
            margin-top: 20px;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        a {
            z-index: 1;
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            text-align: center;
            border-radius: 10px;
            border: 1px solid var(--color-body);
            background: transparent;
            color: #FFFFFFA6;
            transition: .3s;
            &:hover{
                background: var(--color-primary);
                border: 1px solid var(--color-primary);
                i{
                    color: var(--color-white);
                    transition: .3s;
                }
            }
            i {
                color: rgba(255, 255, 255, 0.6509803922);
                transition: .3s;
                font-size: 16px;
            }
        }
    }
}

.side-bar button {
    max-width: max-content;
    border: none;
    height: 50px;
    min-width: 50px;
    position: absolute;
    background: var(--color-primary);
    top: 0;
    left: 0;
    padding: 0;
    border-radius: 0;
    i {
        color: var(--color-white);
        border-radius: 0;
        display: flex;
        align-items: center;
        font-weight: 300;
        justify-content: center;
        font-size: 27px;
    }
}