
// nav style

.main-nav-area{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0;
        li{
            margin: 0;
            a{
                color: var(--color-white);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -0.32px;
                font-family: var(--font-primary);
                transition: all .3s;
            }
        }
        &.rts-desktop-menu{
            transition: all .3s;
            &:hover{
                .menu-item{
                    opacity: .5;
                }
            }
            .menu-item{
                transition: all .3s;
               .rts-dropdown-main-element{
                color: var(--color-white);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -0.32px;
                font-family: var(--font-primary);
                transition: all .3s;
                padding: 35px 22px ;
                display: block;
                @media(max-width:1200px){
                    padding: 35px 17px;
                }
               } 
               &:hover{
                opacity: 1;
               }
            }
            .rts-has-dropdown{
                z-index: 10;
                .rts-submenu{
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    position: absolute;
                    align-items: flex-start;
                    opacity: 0;
                    max-width: 1000px;
                    width: 200px;
                    border-radius: 10px;
                    gap: 2px;
                    visibility: hidden;
                    overflow: visible;
                    transform: translateY(30px);
                    transition: all .3s ease-in-out;
                    padding: 15px;
                    background: #FFFFFF;
                    -webkit-box-shadow: 9px 9px 22px -1px rgba(0, 0, 0, 0.12);
                    box-shadow: 9px 9px 22px -1px rgba(0, 0, 0, 0.12);
                    
                    &:hover{
                        li.nav-item{
                            .nav-link{
                                opacity: .5;
                            }
                        }
                    }
                    li.nav-item{
                        width: 100%;
                        transition: all .3s;
                        &:hover{
                            .nav-link{
                                background: #F2F2F8;
                                opacity: 1;
                            }
                        }
                        .nav-link{
                            padding: 12px 45px 12px 15px;
                            border-radius: 10px;
                            background: #FFFFFF;
                            transition: all .3s;
                            color: var(--color-title-nav);
                            text-align: left;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    &.mega-menu{
                        width: 100%;
                        left: 50%;
                        transform: translateY(30px) translateX(-50%);
                        overflow: hidden;
                        pointer-events: none;
                        .inner{
                            padding: 20px;
                        }
                        h4{
                            color: var(--color-title-nav);
                        }
                        .destination-area-wrapper {
                            display: flex;
                            gap: 40px;
                            margin-top: 30px;
                            .destination-wrapper-3{
                                position: relative;
                                z-index: 1;
                                .content{
                                    margin-top: 0;
                                    position: absolute;
                                    z-index: 2;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: max-content;
                                    .title{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            .view-all-btn{
                                color: var(--color-primary);
                                text-decoration: underline;
                                margin-top: 20px;
                                display: block;
                                text-align: start;
                            }
                            .destination-area-wrapper {
                                position: relative;
                            }

                            .destinations {
                                position: relative;
                                overflow: hidden;
                            }

                            .destlist {
                                opacity: 0;
                                transform: translateX(-70px);
                                visibility: hidden;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                transition: opacity 0.4s ease, transform 0.6s ease;
                            }

                            .destlist.active {
                                opacity: 1;
                                transform: translateX(0);
                                visibility: visible;
                                position: relative;
                            }
                        }

                        .region-area ul,
                        .destinations ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                        }

                        .region-area{
                            ul {
                                flex-direction: column;
                                gap: 10px;
                                align-items: flex-start;
                            } 
                        }
                        .destinations{
                            flex-basis: 76%;
                            .destlist {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                flex-wrap: wrap;
                                transition: var(--transition);
                                .destination-wrapper-3{
                                    max-width: 48%;
                                    width: 100%;
                                    &::after{
                                        content: '';
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(0, 0, 0, 0.4);
                                        z-index: 1;
                                        top: 0;
                                        left: 0;
                                    }
                                    .image-area{
                                        width: 100%;
                                        height: 130px;
                                        border-radius: 0;
                                        img{
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                        }
                                    } 
                                }
                            }
                        }
                        .region-area li {
                            cursor: pointer;
                            padding: 0;
                            transition: color 0.3s;
                            min-width: max-content;
                            color: var(--color-title-nav);
                            font-weight: 500;
                            &.active{
                                color: var(--color-primary);
                            }
                        }
                        .region-area li:hover {
                            color: var(--color-primary);
                        }
                        .destinations li a {
                            color: #333;
                            text-decoration: none;
                            transition: color 0.3s;
                        }
                        .destinations li a:hover {
                            color: var(--color-primary);
                        }
                        .ad-image{
                            height: 100%;
                            position: relative;
                            z-index: 1;
                            img{
                                height: 100%;
                                object-fit: cover;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.78%, #000000 100%);
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                top: 0;
                                left: 0;
                            }
                            .ad-content{
                                position: absolute;
                                z-index: 2;
                                bottom: 35px;
                                left: 20px;
                                .ad-title{
                                    color: var(--color-white);
                                    margin-bottom: 10px;
                                }
                                .rts-btn{
                                    background: var(--color-white);
                                    color: var(--color-primary);
                                    &::before{
                                        background: var(--color-primary);
                                    }
                                    &:hover{
                                        color: var(--color-white);
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .rts-submenu{
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                        &.mega-menu{
                            transform: translateY(0px) translateX(-50%);
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
}



.header-two-content-main .main-nav-area {
    margin-left: -150px;
    @media #{$smlg-device} {
        margin-left: 0;
    }
    @media #{$md-layout} {
        display: none;
    }
    @media #{$sm-layout} {
        display: none;
    }
}

.side-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -100%;
    width: 465px;
    padding: 40px 30px;
    padding-top: 50px;
    height: 100%;
    display: block;
    background-color: white;
    backdrop-filter: blur(7px);
    z-index: 1900;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: visible;
    @media #{$large-mobile} {
        width: 315px;
    }
    .inner-main-wrapper-desk{
        .thumbnail{
            display: flex;
            justify-content: center;
            img{
                width: 60%;
                margin: auto;
            }
        }
        .inner-content{
            text-align: center;
            margin-top: 30px;
            p{
            max-width: 95%;
            text-align: center;
            margin: auto;
            }
            .title{
                font-weight: 600;
            }
            .footer{
                padding-top: 50px;
                margin-top: 40px;
                border-top: 1px solid #e8e8e8;
                .title{
                    font-weight: 500;
                }
                a.rts-btn{
                    margin: auto;
                }
            }
            .contact-information--sidebar{
                margin-top: 50px;
                .title{
                    margin-bottom: 20px;
                    font-size: 24px;
                }
                .single-info{
                    margin: 15px 0;
                    a{
                        // color: #2f3022;
                        // font-weight: 500;
                        &:hover{
                            color: var(--color-primary);
                        }
                    }
                }
                .rts-social-style-one{
                    margin-top: 40px;
                    ul{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        list-style: none;
                        li{
                            margin: 0;
                            a{
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                border: 1px solid #dfdfdf;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &:hover{
                                    background: var(--color-primary);
                                    border: 1px solid transparent;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
.header-style-one.case-studies{
    .main-nav-area{
        ul{
            li{
                &>a.rts-dropdown-main-element{
                    color: #fff !important;
                }
            }
        }
    }
}


.header-style-one.case-studies.header--sticky.sticky{
    background: linear-gradient(258deg, #373551 8.48%, #212026 94.83%);
}

@keyframes fadeZoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }